
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Tajawal', sans-serif;
}

:root {
    --main_color: #dd8ea4;
    --p_color: #31383f;
    --bg_color: #f2e9eb;
    --white_color: #fff;
    --black_color: #070707;
    --border-color: rgba(255, 255, 255, 0.1);
}

body {
    background: var(--bg_color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    direction: rtl;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #5f2c3e;
     font-family: 'Cairo', sans-serif;
}

span {
    color: var(--main_color);
}

p {
    color: var(--p_color);
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

.logo {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--main_color);
}

header ul {
    display: flex;
}

header ul li {
    margin-right: 30px;
}

header ul li a {
    padding: 6px 15px;
    border-radius: 20px;
    transition: 0.3s;
    color: var(--p_color);
    text-transform: capitalize;
}

header ul li a:hover,
.active {
    background: var(--main_color);
    color: var(--p_color);
}

.top_section {
    text-align: center;
    margin-bottom: 10px;
}

.top_section h2 {
    font-size: 40px;
  
}

.top_section p {
    font-size: 20px;
    color: #5f2c3e;
}

/*Contact top section*/
.container {
   padding: 10px;; 
 }

.contact .container {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto;
}

.contact .social_contact {
    width: 25%;
    
  
}
.contact form{
    width: 55%;
}
.contact .social_contact h2 {
    color: #31383f;
    margin-bottom: 20px;
}
.contact .social_contact .links{
    display: flex;
    flex-direction: column;
}
.contact .social_contact .links a {
    color: #5f2c3e;
    font-size: 15px;
    margin-bottom: 25px;
    position: relative;
    left: 0;
    transition: 0.3s;
}
.contact .social_contact .links a i {
    color: #5f2c3e;
   margin-left: 10px;
    width: 35px;
    height: 35px;
    background: #fedd89;
    text-align: center;
    line-height: 35px;
    border-radius: 3px;
}
.contact .social_contact .links a:hover {
    left: 15px;
}
.contact form {
    width: 60%;
    text-align: center;
}
.contact form .inputs_form {
    width:100%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 12px;
    font-style: var(--black_color);
}
.contact form .inputs_form input , .contact form .inputs_form textarea {
    border-radius: 5px;
    padding: 20px;
    outline: none;
    background-color: var(--bg_color);
    font-size: 16px;
    margin-bottom: 5px;
    border: 1px solid var(--main_color);
    transition: 0.4s;
}
.contact form .inputs_form input {
    width: 48%;

}
.contact form .inputs_form textarea {
    width: 100%;
    height: 200px;
}
.contact form .inputs_form input:focus , .contact form .inputs_form textarea:focus {
    border-color: #5f2c3e;
}
.contact .btn {
    outline: none;
    padding: 8px 20px ;
    font-size: 14px;
    cursor: pointer;
   transition: 0.3s;
   background-color: #5f2c3e;
   color: white;
   border-radius: 5px;
   margin-top: 15px;
}
.contact .btn:hover {
    scale: 1.1;
}